<ngx-spinner 
    type="ball-scale-multiple">
</ngx-spinner>

<div class="grid grid-cols-1 lg:grid-cols-4">
    <div class="m-5 lg:col-start-2 lg:col-span-2">
        <!-- QUESTIONS -->
        <mat-card *ngIf="questions && questions.length && !quizCompleted; else result">
            <mat-card-header>
                <div class="flex flex-col w-full">
                    <div class="flex justify-between items-center">
                        <mat-card-subtitle>{{topic | titlecase}} Quiz</mat-card-subtitle>
                        <mat-card-subtitle [ngClass]="{'text-red-600': counter === 0}">{{ counter > 0 ? counter : 'Time expired' }}</mat-card-subtitle>
                    </div>
                    
                    <h2>{{ questions[currentQuestion].id }}. {{ questions[currentQuestion].text }}</h2>
                </div>
            </mat-card-header>
            <mat-card-content>
                <button
                    *ngFor="let option of questions[currentQuestion].options"
                    class="w-full h-14 mb-2 border border-gray-200 rounded-md"
                    [ngClass]="{'option-selected': isSelected(questions[currentQuestion].id, option.value)}"
                    [disabled]="counter === 0"
                    (click)="chooseOption(option.value, questions[currentQuestion].id)">
                    <div class="flex justify-center items-center gap-3">
                        <p class="!m-0 whitespace-normal leading-6">
                            {{ option.text }}
                        </p>
                    </div>
                </button>
            </mat-card-content>
            <mat-card-actions>
                <div class="flex justify-center items-center w-full">
                    <button 
                        mat-flat-button 
                        color="primary"
                        class="w-full !h-14 md:w-1/2"  
                        [disabled]="!answerOk() && counter > 0"
                        (click)="nextQuestion()">
                        {{ currentQuestion < questions.length - 1 ? 'Next' : 'Finish' }}
                    </button>
                </div>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="determinate" [value]="(currentQuestion + 1)*(100/questions.length)"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>

        <!-- RESULT -->
        <ng-template #result>
            <app-results
                [topic]="topic"
                [questions]="questions"
                [answers]="answers"></app-results>
        </ng-template>
    </div>
</div>
