<ngx-spinner 
    type="ball-scale-multiple">
</ngx-spinner>

<div class="grid grid-cols-1 lg:grid-cols-4">
    <div class="m-5 lg:col-start-2 lg:col-span-2" *ngIf="topics">
        <h1>Hi Sir!</h1>
        <h3>Choose the quiz topic</h3>

        <button
            *ngFor="let topic of topics"
            class="w-full h-14 mb-2 border border-gray-200 rounded-md topic"
            [ngClass]="{'option-selected': topic === topicChoosed}"
            [disabled]="!topic.available"
            [matTooltip]="!topic.available ? 'Soon available' : ''"
            (click)="choosedTopic(topic)">
            <div class="flex justify-center items-center gap-3">
                <img 
                    *ngIf="topic.icon"
                    class="w-5 h-auto" 
                    [src]="topic.icon" 
                    [alt]="topic.name"> 
                <h3 
                    class="!m-0">
                    {{ topic.name | titlecase}}
                </h3>
            </div>
        </button>

        <p 
            *ngIf="topicChoosed"
            class="!mt-5">
            The quiz consists of {{topicChoosed.questionsNumber}} questions. For each one you will have {{topicChoosed.questionSeconds}} seconds available. Are you ready?
        </p>

        <div 
            class="flex justify-center items-center w-full"
            [ngClass]="{'!mt-5': !topicChoosed}">
            <button 
                mat-flat-button 
                color="primary" 
                class="w-full !h-14 md:w-1/2" 
                [disabled]="!topicChoosed"
                (click)="startQuiz()">
                Start!
            </button>
        </div>
    </div>
</div>
