<div class="grid grid-cols-1 lg:grid-cols-4">
    <div class="m-5 lg:col-start-2 lg:col-span-2">
        <h1>Hi Sir!</h1>
        <h3>Choose the quiz topic</h3>

        <button
            *ngFor="let topic of topics | async"
            class="w-full h-14 mb-2 border border-gray-200 rounded-md"
            [ngClass]="{'option-selected': topic === topicChoosed}"
            (click)="choosedTopic(topic)">
            <div class="flex justify-center items-center gap-3">
                <img 
                    *ngIf="topic.icon"
                    class="w-5 h-auto" 
                    [src]="topic.icon" 
                    [alt]="topic.name"> 
                <h3 
                    class="!m-0">
                    {{ topic.name | titlecase}}
                </h3>
            </div>
        </button>

        <button 
            mat-flat-button 
            color="primary" 
            class="w-full h-14 !mt-10" 
            [disabled]="!topicChoosed"
            (click)="startQuiz()">
            Start!
        </button>
    </div>
</div>
