.error-answer {
    border: 1px solid #fa1a1a;
    background-color: #fa1a1a48;
}

.correct-answer {
    border: 1px solid #3abb2f;
    background-color: #3bbb2f5e;
}

.correct-number {
    border: 1px solid #673ab7;
    background-color: #683ab74d;
}